html{
    font-family: 'Roboto', sans-serif;
}

.container{
    background-color: red;
    max-width: 900px;
    display: grid;
    grid-template-areas:"video-destaque propaganda"
                        "video-destaque videos-sugeridos";
    grid-template-columns: 1fr 270px;
    grid-template-rows: 56px 1fr;
}

.video-destaque{
    grid-area: video-destaque;
    background-color: aqua;
}

.propaganda{
    grid-area: propaganda;
    background-color: orange;
}

.videos-sugeridos{
    grid-area: videos-sugeridos;
    background-color: green;
}

.videos-sugeridos .video{
    display: flex;
    
}